<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= todo.priority %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= todo.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= todo.category_id %>
  </p>

</div>
